UNSW-NB15 - CSV Files/NUSW-NB15_features.csv
UNSW-NB15 - CSV Files/NUSW-NB15_GT.csv
UNSW-NB15 - CSV Files/The UNSW-NB15 description.pdf
UNSW-NB15 - CSV Files/UNSW-NB15_1.csv
UNSW-NB15 - CSV Files/UNSW-NB15_2.csv
UNSW-NB15 - CSV Files/UNSW-NB15_3.csv
UNSW-NB15 - CSV Files/UNSW-NB15_4.csv
UNSW-NB15 - CSV Files/UNSW-NB15_LIST_EVENTS.csv
UNSW-NB15 - CSV Files/a part of training and testing set/UNSW_NB15_testing-set.csv
UNSW-NB15 - CSV Files/a part of training and testing set/UNSW_NB15_training-set.csv
